<span class="title">MY MATCHES 
(Total: <span id="match_total"><%= matches_user_play(current_user,3) %> - </span>
Played: <span id="match_play"><%= matches_user_play(current_user, 0) %> - </span>
Won: <span id="match_win"><%= matches_user_play(current_user,1) %> - </span>
Lost: <span id="match_lose"><%= matches_user_play(current_user, 2) %>)</span>
</span>
<% if @user_matches %>
  <table class="table table-bordered table-hover table-responsive my-matches">
    <thead>
      <tr>
        <th>Wins/Losses</th>
        <th>Date - Time</th>
        <th>Place</th>
        <th>Price</th>
        <th>Rivals</th>
        <th>Rival Votes</th>
        <th>Edit Match</th>
      </tr>
    </thead>
    <tbody>  
    
      <% @user_matches.each do |um| %>
        <% if user_belongs_to_match?(um, current_user) %>
            <% unless build_score(um) != "- - - - - " && build_score(um) != "" %>
              <tr>
                <td>
                  <% if um.creator_id === current_user.id %>
                    <a href="#" class="btn btn-primary btn-score my-score my-button" 
                    data-toggle="modal" data-target="#scoreModal" data-match="<%= um.id %>">SET SCORE</a>
                  <% else %>
                    <span>NO RESULT YET</span>
                  <% end %>
            <% else %>
              <% if user_wins_match(um, current_user) %>
                <tr class="success">
                  <td>
                <a href="#" class="btn btn-success my-button" disabled>WIN</a>
              <% elsif user_lose_match(um, current_user) %>
                <tr class="danger">
                  <td>
                    <a href="#" class="btn btn-danger my-button" disabled>LOSE</a>
              <% end %>
            <% end %>
                  </td>
                  <td><%=link_to um.date.strftime('%F') + ' (' + um.date.strftime("%H:%M") + ')', match_path(um.id) %></td>
                  <td><%= um.venue %></td>
                  <td><%= um.price %>€</td>
                  <span id="score<%= um.id %>" style="display:none;"><%= build_score(um) %></span>
                  <td>
                    <% um.rivals(current_user).each do |riv| %>
                      <%= image_tag riv.avatar.url(:minithumb), class: 'rivals profile-avatar-index', title: riv.name ,
                       'data-rival-name': riv.name, 'data-rival': riv.id, 'data-player-match': um.id, 'vrival': voted_rival?(um, current_user, riv) %>
                    <% end %>      
                  </td>
                  <td>
                    <a href="#" class="btn btn-info btn-score my-handicap my-button"
                    data-toggle="modal" data-target="#handicapModal" data-match="<%= um.id %>"><i class="material-icons">trending_up</i> RIVAL VOTES</a>
                  </td>
                  <td>
                    <% if um.creator_id === current_user.id %>
                      <a href="<%= edit_user_match_path(current_user, um.id) %>" class="btn btn-success my-button">EDIT</a>
                    <% else %>
                      <span><i class="material-icons be-icon">https</i> NOT OWNER</span>
                    <% end %>
                  </td>
                </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <h5>No matches created yet...</h5>
  <% end %>


  <%= render 'score_modal' %>
  <%= render 'handicap_modal' %>

