<a href="<%= users_rankings_path%>" class="btn btn-success" style="margin: 20px;"><i class="material-icons be-icon">sort</i> RANKINGS</a>

<div class="row">
  <% @users.each do |usr| %>
    <div class="col-sm-6 col-md-2" style="top:20px;">
      <div class="thumbnail">
        <a href="<%= user_path(usr.id) %>"><%= image_tag usr.avatar.url(:thumb), class: 'profile-avatar-index' %></a>
        <div class="caption user-index">
          <h3><%= usr.name %></h3>
          
          <span>NTRP:</span>
          <div class="progress progress-striped">
            <div class="progress-bar progress-bar-warning" style="width: <%= (usr.ntrp*100/6) %>%"><%= usr.ntrp %></div>
          </div>
          <p><a href="<%= user_path(usr.id) %>" class="btn btn-primary" role="button">VIEW PROFILE</a></p>
        </div>
      </div>
    </div>
  <% end %>
</div>