  
  <% for i in 0..(@match.places/2)-1 %>
    <% if team.users[i]!=nil %>
      <% if team.users[i]=== current_user %>
        <%= link_to (image_tag team.users[i].avatar.url(:thumb), class: type_user, title: team.users[i].name), user_match_path(current_user,@match), method: :delete, data:{confirm: 'Delete from the match, Are you sure?'} %>
      <% else %>
        <%= image_tag team.users[i].avatar.url(:thumb), class: type_user, title: team.users[i].name %>
      <% end %>
    <% elsif user_signed_in? && !user_belongs_to_match?(@match, current_user) %>
      <a href="<%= join_team_path(team.id) %>" class="btn <%= type %>" data-team="<%= team.id %>">PLAYER</a>
    <% end %>
  <% end %>
