<div class="row">
  <div class="col-xs-12">
    <h1>EDIT MATCH</h1>
  </div>
</div>

<div class="row new_map">
    
    <div class="col-xs match">
      <div id="map"></div>
    </div>

    <div class="col-xs match">
      <%= form_for [@user, @match] do |f|%>
        <%= f.label :date %>
        <%= f.datetime_local_field :date, class: 'sporteur-form-control' %>
        <br>
        <%= f.label :venue %>
        <%= f.text_field :venue, class: 'sporteur-form-control',id:'venue' %>
        <%= f.text_field :lat, class: 'sporteur-form-control hidden', id:'lat_form' %>
        <%= f.text_field :lng, class: 'sporteur-form-control hidden', id:'lng_form' %>
        <br>
        <%= f.label :score %>
        <%= f.text_field :score, class: 'sporteur-form-control'%>
        <br>
        <%= f.label :price %>
        <%= f.number_field :price, :class => 'text_field sporteur-form-control', :step => 'any' %>
        <br>
        <%= f.label :places %>
        <%= f.number_field :places, class: 'sporteur-form-control', value: 4 %>
        <br>
        <%= f.submit 'Save' %>
      <%end%>
    </div>
</div>